
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
    --font-primary: 'Figtree', sans-serif;
    --font-size-base: 16px;
  }

 body {
  height: 100%;
  margin: 0;
  display: grid;
  place-items: center;
      
  }
  
h1, h2, h3 {
    font-weight: 800;
  }

.container{
  min-height: 100vh;
  display: grid;
  place-items: center;
  }

.blog-container {

  background-color: var(--yellow);
  width: min(90vw, 2000px);
  aspect-ratio: 2/4;
  display: grid;
  margin: auto;
  place-items: center;
  box-shadow: 1px 7px 14px -1px rgba(0,0,0,0.42);  
  }

.card{
  background-color: var(--white);
  width: clamp(300px, 40%, 350px);
  aspect-ratio: 5/ 7;
  border-radius: 1rem;
  border: 2px solid var(--gray-950);
  box-shadow: 5px 4px 0px 0px var(--gray-950);
  display: flex;
  flex-direction: column;
  }

.featured-image{
  background-image: url("../assets/images/illustration-article.svg");
  background-size: cover;       /* pour remplir le bloc */
  background-position: center;  /* centré */
  background-repeat: no-repeat; /* pas de répétition */
  width: 89%;
  aspect-ratio: 15 / 10;
  margin: auto;
  border-radius: 1rem;   

}

.card-body{

  }

.post-tag{

  }

.post-text{

  }

.post-author{

  }
  